@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Black.ttf") format("truetype");
  font-style: normal;
}

html {
  line-height: 1.2;
  font-family: Roboto;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.87);
}

body {
  background-color: #dbdbdb;
}
